In [1]:
#Importei a blibioteca Pandas
import pandas as pd
#Importei a blibioteca xlrd para ler dados e formatar informações de arquivos do Excel.
import xlrd

In [2]:
#Localiza o documento
origem = (r"C:\Users\Uchoa\Desktop\SPC\STG_MVT_CRD.xlsx")
#Para abrir em workbook (Pasta de trabalho, formato que encontrei que consiga modificar os dados )
documento_xlrd = xlrd.open_workbook(origem) 
celulas = documento_xlrd.sheet_by_index(0)
contador = 0
#Um for para ler as células da colunas 5 (Qual achei o erro)
for x in range (15):
    coluna_linha = (celulas.cell_value(x+1, 5))
    if coluna_linha == (""):
        contador = 1
        linha = x+1
print (f'Na linha {linha}, foi encontrado {contador} dado vazio.')
#Ler o documento em CSV, encontrar a codificação do idioma e um delimitador.
dados = pd.read_csv("STG_MVT_CRD.csv", encoding="UTF-8", delimiter=";")

Na linha 6, foi encontrado 1 dado vazio.

In [13]:
#Criei uma lista de números com quais usei para não serem apresentados na variavel linha_com_erro
lista = []
for y in range (16):
    if y != linha:
        lista.append(y)
del(lista[0])
linha_com_erro = pd.read_csv("STG_MVT_CRD.csv", encoding="UTF-8", delimiter=";", skiprows=lista)
linha_com_erro.to_excel("Com_erro.xlsx",index=False)

In [14]:
#Resultado da tabela com erro
linha_com_erro

,ID_STG_MVT_CRD,VLR_SDO_UTZ_CRD_RTO,VLR_TOT_FAT,VLR_MIM_FAT,VLR_PCL_FAT,QTD_CLI_CAD_POS,QTD_MVT,DES_TIP_PSS,ID_FNT_ITT,COD_MDL,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,6,NaN,NaN,NaN,460733662,NaN,329,F,67,B07,16/01/2020,2020-01-17 17:49:17.524

In [15]:
#Excluí a linha qual estava o erro e salvei em outro arquivo em XLSX
sem_erro = dados.drop(linha-1)
sem_erro.to_excel("./dados validados/sem_erro_STG_MVT_CRD.xlsx",index=False)

In [16]:
#Resultado da linha o sem erro
sem_erro

,ID_STG_MVT_CRD,VLR_SDO_UTZ_CRD_RTO,VLR_TOT_FAT,VLR_MIM_FAT,VLR_PCL_FAT,QTD_CLI_CAD_POS,QTD_MVT,DES_TIP_PSS,ID_FNT_ITT,COD_MDL,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,NaN,NaN,NaN,45955168382,37186.0,677272,F,67,C01,16/01/2020,2020-01-17 17:49:17.524
1,2,NaN,NaN,NaN,73872373409,307070.0,2741111,F,67,B99,16/01/2020,2020-01-17 17:49:17.524
2,3,NaN,NaN,NaN,2868180759,601.0,1964,F,67,B01,16/01/2020,2020-01-17 17:49:17.524
3,4,NaN,NaN,NaN,61112508038,18820.0,244041,F,67,B03,16/01/2020,2020-01-17 17:49:17.524
4,5,NaN,NaN,NaN,2152609,33.0,4,F,67,F01,16/01/2020,2020-01-17 17:49:17.524
6,7,NaN,NaN,NaN,"2,63833E+11",721836.0,10020532,F,67,A04,16/01/2020,2020-01-17 17:49:17.524
7,8,NaN,NaN,NaN,"1,83803E+11",135773.0,1797516,F,67,B05,16/01/2020,2020-01-17 17:49:17.524
8,9,NaN,NaN,NaN,973871271,5061.0,38003,F,67,A05,16/01/2020,2020-01-17 17:49:17.524
9,10,2.181758e+10,NaN,NaN,NaN,194378.0,194921,F,67,E01,16/01/2020,2020-01-17 17:49:17.524
10,11,NaN,NaN,NaN,9496721547,1890.0,123559,F,67,G01,16/01/2020,2020-01-17 17:49:17.524
11,12,NaN,NaN,NaN,"3,5568E+11",494442.0,19241809,F,67,A01,16/01/2020,2020-01-17 17:49:17.524
12,13,NaN,NaN,NaN,1834446514,46495.0,230867,F,67,A99,16/01/2020,2020-01-17 17:49:17.524
13,14,NaN,NaN,NaN,173395032,43.0,330,F,67,B06,16/01/2020,2020-01-17 17:49:17.524
14,15,NaN,"1,93277E+12","6,07174E+11",NaN,1840240.0,21748501,F,67,D01,16/01/2020,2020-01-17 17:49:17.524