# 1. Import library, read xlsl file, create df

In [1]:
import pandas as pd
low_memory=False
%matplotlib inline

from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))
    
df_opr= pd.read_excel('STG_OPR_ITT.xlsx')

df_opr.head(5)

,ID_STG_OPR_ITT,VLR_CTRD_CSC,QTD_PCL,VLR_SDO_DDR,QTD_CLI_CAD_POS,QTD_OPR,ID_FNT_ITT,ID_MDL,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,NaN,45,NaN,341,358,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
1,2,NaN,63,NaN,103,108,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
2,3,NaN,22,NaN,15,16,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
3,4,NaN,48,NaN,9,9,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
4,5,NaN,290,NaN,3,3,67,B03,F,2020-01-16,2020-01-27 10:49:48.15

# 2. Rename column names

In [2]:
df_opr=df_opr.rename(columns= {'ID_STG_OPR_ITT':'Id_da_Stage', 'VLR_CTRD_CSC':'Valor_Total_Contrato', 'QTD_PCL':'Qtd_Parcela_Contratada', 'VLR_SDO_DDR':'Valor_Nao_Pago', 'QTD_CLI_CAD_POS':'CPF_Distinto', 'QTD_OPR':'Operacoes_Unicas',
                     'ID_FNT_ITT':'Fonte_Dados', 'ID_MDL':'Modalidade_Operacao', 'DES_TIP_PSS':'Tipo_Cliente', 'DAT_RSS_FNT_ITT':'Data_Ultima_Alteracao', 'DAT_INC_DBO':'Data_Inclusao'})
df_opr.head(5)

,Id_da_Stage,Valor_Total_Contrato,Qtd_Parcela_Contratada,Valor_Nao_Pago,CPF_Distinto,Operacoes_Unicas,Fonte_Dados,Modalidade_Operacao,Tipo_Cliente,Data_Ultima_Alteracao,Data_Inclusao
0,1,NaN,45,NaN,341,358,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
1,2,NaN,63,NaN,103,108,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
2,3,NaN,22,NaN,15,16,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
3,4,NaN,48,NaN,9,9,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
4,5,NaN,290,NaN,3,3,67,B03,F,2020-01-16,2020-01-27 10:49:48.15

# 3. Test if the columns "Fonte_Dados" and "Data_Ultima_Alteracao" have different data respectively

In [3]:
diferente = df_opr['Fonte_Dados'].values.tolist()

lis = []
count = 0
for i in diferente:
    lis.append(i)
    if i != lis[count-1]:
        print('diferente')
        break
    count = count +1

In [4]:
diferente2 = df_opr['Data_Ultima_Alteracao'].values.tolist()

lis = []
count = 0
for i in diferente2:
    lis.append(i)
    if i != lis[count-1]:
        print('diferente')
        break
    count = count +1

# 4. Sort column 'Modalidade_Operacao' by its values

In [13]:
df_opr.groupby('Modalidade_Operacao').size().sort_values()

Modalidade_Operacao
F01      1
G01      1
B07      2
B06      4
B01     19
A05     20
A99     35
B05     71
B99    104
A04    112
A01    122
C01    186
B03    214
dtype: int64

# 5. Apply string type for all values in 'Valor_Total_Contrato'

In [18]:
df_opr['Valor_Total_Contrato'] = df_opr['Valor_Total_Contrato'].apply(str)

# 6. Confirm 'Valor_Total_Contrato' of all the 'Modalide_Operacao'

In [34]:
df_a01 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'A01') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_a01

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [35]:
df_a04 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'A04') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_a04

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [36]:
df_a05 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'A05') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_a05

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [37]:
df_a99 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'A99') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_a99

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [38]:
df_b01 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'B01') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_b01

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [39]:
df_b03 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'B03') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_b03

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [40]:
df_b05 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'B05') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_b05

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [41]:
df_b06 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'B06') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_b06

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [42]:
df_b07 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'B07') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_b07

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [43]:
df_b99 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'B99') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_b99

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [44]:
df_c01 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'C01') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_c01

,Id_da_Stage,Valor_Total_Contrato,Qtd_Parcela_Contratada,Valor_Nao_Pago,CPF_Distinto,Operacoes_Unicas,Fonte_Dados,Modalidade_Operacao,Tipo_Cliente,Data_Ultima_Alteracao,Data_Inclusao
6,7,24231168.0,20,14774641.0,6,7,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
14,15,83720000.0,158,61146076.0,4,4,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
18,19,453409414.0,82,345569291.0,86,93,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
19,20,831887355.0,70,387293236.0,150,171,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
22,23,168720000.0,117,47151818.0,10,10,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
...,...,...,...,...,...,...,...,...,...,...,...
853,854,235637981.0,93,123012165.0,21,22,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
859,860,62075885.0,17,17357289.0,7,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
869,870,213020000.0,176,132743567.0,12,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
873,874,174842840.0,103,61800347.0,12,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
886,887,85699650.0,105,57998876.0,14,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15

In [45]:
df_f01 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'F01') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_f01

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

In [46]:
df_g01 = df_opr.loc[(df_opr['Modalidade_Operacao'] == 'G01') & ~(df_opr['Valor_Total_Contrato'] == 'nan')]
df_g01

Empty DataFrame
Columns: [Id_da_Stage, Valor_Total_Contrato, Qtd_Parcela_Contratada, Valor_Nao_Pago, CPF_Distinto, Operacoes_Unicas, Fonte_Dados, Modalidade_Operacao, Tipo_Cliente, Data_Ultima_Alteracao, Data_Inclusao]
Index: []

# 7. Since from all the 'Modalidade_Operacao' values only Modalide C01 has 'Valor_Total_Contrato', we will use it only 'df_c01'

In [47]:
df_c01['Valor_Total_Contrato'] = df_c01['Valor_Total_Contrato'].astype(float)
df_c01['Data_Ultima_Alteracao'] = df_c01['Data_Ultima_Alteracao'].astype(str)
df_c01.dtypes

/home/midan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/midan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Id_da_Stage                 int64
Valor_Total_Contrato      float64
Qtd_Parcela_Contratada      int64
Valor_Nao_Pago            float64
CPF_Distinto                int64
Operacoes_Unicas            int64
Fonte_Dados                 int64
Modalidade_Operacao        object
Tipo_Cliente               object
Data_Ultima_Alteracao      object
Data_Inclusao              object
dtype: object

# 8. Create new df's with the data we need it

In [48]:
df_id = (df_c01['Fonte_Dados'].iloc[0]) #.values.tolist())
df_vlr_tot = (df_c01['Valor_Total_Contrato'].sum(axis=0))
df_vlr_pg = (df_c01['Valor_Total_Contrato'].sum(axis=0)) - (df['Valor_Nao_Pago'].sum(axis=0))
df_vlr_npg = (df_c01['Valor_Nao_Pago'].sum(axis=0))
df_data = (df_c01['Data_Ultima_Alteracao'].iloc[0])

# 9. Just a print for reading purposes

In [49]:
printmd(f'**Valor Total dos Contratos**:                     R$ {df_vlr_tot:.2f}\n')
printmd(f"<span style='color:green'>**Valor Total Pago**:    R$ {df_vlr_pg:.2f}\n</span>")
printmd(f"<span style='color:red'>**Valor Total Não Pago**:  R$ {df_vlr_npg:.2f}\n</span>")

**Valor Total dos Contratos**:                     R$ 69118776187.00

<span style='color:green'>**Valor Total Pago**:    R$ 29498531771.00
</span>

<span style='color:red'>**Valor Total Não Pago**:  R$ 39620244416.00
</span>

# 10. Now we create the final DF

In [50]:
new = {'Id_Fonte' : [df_id] ,'Valor_Total' : [df_vlr_tot], 'Valor_Pago' : [df_vlr_pg], 
       'Valor_Nao_Pago' : [df_vlr_npg], 'Data_Remessa' : [df_data]}



newdf = pd.DataFrame(new, columns = ['Id_Fonte','Valor_Total', 'Valor_Pago', 'Valor_Nao_Pago','Data_Remessa'])

newdf['Id_Fonte'] = newdf['Id_Fonte']
newdf['Valor_Total'] = newdf['Valor_Total'].astype(int)
newdf['Valor_Pago'] = newdf['Valor_Pago'].astype(int)
newdf['Valor_Nao_Pago'] = newdf['Valor_Nao_Pago'].astype(int)
newdf['Data_Remessa'] = newdf['Data_Remessa']


newdf

   Id_Fonte  Valor_Total   Valor_Pago  Valor_Nao_Pago Data_Remessa
0        67  69118776187  29498531771     39620244416   2020-01-16

# 11. Save in a .xlsx file

In [10]:
newdf.to_excel('DELETAR.xlsx', index=True)