''' @author: Beatriz, Daniel, Felipe, João, João, Marcelo;
    @team: Bureau SqPy;
    @version: 1.0.1
    @referenc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query
    @Theme: Análise de dados SPC-Brasil - Tabela: STG_MVT_CRD - Registro de todas as MOVIMENTAÇÕES relacionadas as OPERAÇÕES.
'''

In [1]:
#Importei a blibioteca Pandas
import pandas as pd
#Importei a blibioteca xlrd para ler dados e formatar informações de arquivos do Excel.
import xlrd

In [2]:
#Declaração de variáveis globais
path_validados = "../3 - Output/2 - Validados/"
path_erros = "../3 - Output/1 - Erros/"

In [3]:
#Localiza o documento
origem = (r"../../../1 - Tabelas Base/STG_MVT_CRD.xlsx")
#Para abrir em workbook (Pasta de trabalho, formato que encontrei que consiga modificar os dados )
documento_xlrd = xlrd.open_workbook(origem) 
celulas = documento_xlrd.sheet_by_index(0)
contador = 0
#Um for para ler as células da colunas 5 (Qual achei o erro)
for x in range (15):
    coluna_linha = (celulas.cell_value(x+1, 5))
    if coluna_linha == (""):
        contador = 1
        linha = x+1
print (f'Na linha {linha}, foi encontrado {contador} dado vazio.')
#Ler o documento em CSV, encontrar a codificação do idioma e um delimitador.
dados = pd.read_csv("../../../1 - Tabelas Base/STG_MVT_CRD.csv", encoding="UTF-8", delimiter=";")

Na linha 6, foi encontrado 1 dado vazio.

In [4]:
#Criei uma lista de números com quais usei para não serem apresentados na variavel linha_com_erro
lista = []
for y in range (16):
    if y != linha:
        lista.append(y)
del(lista[0])
linha_com_erro = pd.read_csv("../../../1 - Tabelas Base/STG_MVT_CRD.csv", encoding="UTF-8", delimiter=";", skiprows=lista)
linha_com_erro.to_excel(path_erros + "ERR_STG_MVT_CRD.xlsx",index=False)

In [5]:
#Resultado da tabela com erro
linha_com_erro

,ID_STG_MVT_CRD,VLR_SDO_UTZ_CRD_RTO,VLR_TOT_FAT,VLR_MIM_FAT,VLR_PCL_FAT,QTD_CLI_CAD_POS,QTD_MVT,DES_TIP_PSS,ID_FNT_ITT,COD_MDL,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,6.0,NaN,NaN,NaN,460733662.0,NaN,329,F,67.0,B07,2020-01-16,2020-01-17 17:49:17.524
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Excluí a linha qual estava o erro e salvei em outro arquivo em XLSX
sem_erro = dados.drop(linha-1)
sem_erro.to_excel(path_validados + "MVT_CRD.xlsx",index=False)

In [7]:
#Resultado da linha o sem erro
sem_erro

,ID_STG_MVT_CRD,VLR_SDO_UTZ_CRD_RTO,VLR_TOT_FAT,VLR_MIM_FAT,VLR_PCL_FAT,QTD_CLI_CAD_POS,QTD_MVT,DES_TIP_PSS,ID_FNT_ITT,COD_MDL,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1.0,NaN,NaN,NaN,4.595517e+10,37186.0,677272,F,67.0,C01,2020-01-16,2020-01-17 17:49:17.524
1,2.0,NaN,NaN,NaN,7.387237e+10,307070.0,2741111,F,67.0,B99,2020-01-16,2020-01-17 17:49:17.524
2,3.0,NaN,NaN,NaN,2.868181e+09,601.0,1964,F,67.0,B01,2020-01-16,2020-01-17 17:49:17.524
3,4.0,NaN,NaN,NaN,6.111251e+10,18820.0,244041,F,67.0,B03,2020-01-16,2020-01-17 17:49:17.524
4,5.0,NaN,NaN,NaN,2.152609e+06,33.0,4,F,67.0,F01,2020-01-16,2020-01-17 17:49:17.524
...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN